@charset "UTF-8";

.home {

    section {
        margin-bottom: 6rem;
    }

    .btn {
        margin-bottom: 4rem;
    }
}

.prices-nav {
    display: flex;
    margin-bottom: 3rem;

    a {
        flex-basis: 50%;
        text-align: center;
        text-decoration: none;
        font-weight: bold;

        &:before {
            content: '>';
        }

        &:last-child {
            color: $dark-blue;
        }

        span {
            display: block;
            font-size: 1.6rem;
            font-weight: normal;
            color: #000;
        }
    }
}

.prices-wrapper {
    display: flex;
    margin-bottom: 1rem;
}

.price-content {
    flex-basis: calc(100% / 6);
    text-align: center;

    &:not(:first-child) {
        margin-left: .2rem;
    }

    &:not(:last-child) {
        margin-right: .2rem;
    }
}

.price-name {
    padding: 2rem 0;
    color: #fff;

    &.nomad {
        background-color: $default-color;
    }

    &.regulier {
        background-color: $dark-blue;
    }

    h3 {
        margin-bottom: 0;
        font-size: 2.5rem;
    }
}

.price-value {
    display: block;
    padding: 2rem 0;
    font-size: 2.1rem;
    font-weight: bold;
    background-color: lighten(grey, 45%);

    .nomad + & {
        color: $default-color;
    }

    .regulier + & {
        color: $dark-blue;
    }
}

.price-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 1rem;
    font-size: 1.8rem;

    span {
        font-size: 1.4rem;
    }

    p {
        margin-bottom: 0;
    }
}

.come {
    margin-top: 4rem;
    text-align: center;
}

.meeting-prices-wrapper {
    display: flex;
    margin-bottom: 3rem;

    .price-content {
        flex-basis: 50%;
    }

    h3 span {
        display: block;
        font-size: 1.6rem;
    }
}

.home-editable-content {
    margin: 6rem 0;

    h2 {
        margin-top: 4rem;
    }
}
